################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/OpenCityBuilder/v16
/.vs
/OpenCityBuilder/obj
